// line-height in 860px , 600px for .coupon 
// line-height in 860px , 768px , 600px , 500px , 400px for .coupon.three
$violet : #604ed3;
$violet-gradient : linear-gradient(to right, #604ed3, #a082fd);


#bonus {
    padding: 70px 0;
	background: #000;
    section.wrapper {
        section.top {
            text-align: center;
	        margin: 0 auto;
            h2 {
                font-size: 38px;
                font-weight: 700;
                color: #fff;
            }
            h2.number {
                font-size: 60px;
                color: $violet;
                span {
                    
                }
            }
        }
        section.content {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            div.coupon  {
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                h5 {
                    font-size: 14px;
                    color: #333;
                    font-weight: 700;
                }
                h2.number {
                    font-size: 34px;
                    font-weight: 700;
                    color: $violet;
                    span {

                    }
                }
                h2 {
                    margin-bottom: 9px;
                    font-size: 30px;
                    font-weight: 600;
                }
                h2.third-coupon{
                    font-size: 18px;
                    font-weight: 600;
                }
            }
            div.coupon.one {
                width: 100%;
                background: url(../images/bonus-led.png) no-repeat;
                background-position: 50% 50%;
                background-size: 100% 100%;
                height: 160px;
                padding: 10px 35px 20px 40px;
            }
            div.coupon.two , .four {
                width: 69%;
                background: url(../images/Bonus-med.png) no-repeat;
                background-position: 50% 50%;
                background-size: 100% 100%;
                height: 160px;
                padding: 10px 35px 20px 40px;
            }
            div.coupon.three {
                width: 29%;
                background: url(../images/Bonus-sed.png) no-repeat;
                background-position: 50% 50%;
                background-size: 100% 100%;
                height: 160px;
                padding: 10px 35px 20px 40px;
            }
            div.coupon.five {
                align-items: center;
	            flex-direction: row;
	            justify-content: center;
                width: 29%;
                background: url(../images/Bonus-Blured.png) no-repeat;
                background-position: 50% 50%;
                background-size: 100% 100%;
                height: 160px;
                padding: 10px 35px 20px 40px;
                div.lock {
                    width: 24px;
	                display: block;
                    img {
                        width: 100%;
	                    display: block;
                    }
                }
                span {
                    margin-left: 15px;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
        p.attent {
            padding: 20px 10px;
            border: 1px dashed #fff;
            color: #fff;
            text-align: center;
            border-radius: 10px;
        }
        a {
            /* background-image: linear-gradient(91deg,#604ed3,#a082fd); */
            background: $violet-gradient;
            box-shadow: inset 1px 1px 4px 6px #8574eb, inset -4px 0 4px 0 #4734ba;
            padding: 26px 42px;
            border-radius: 20px;
            display: block;
            text-align: center;
            margin: 40px 80px 60px;
            span {
                font-size: 28px;
                color: #fff;
                font-weight: 600;
                del {
                    font-size: 16px;
                }
            }
            p {
                font-size:  14px;
                color: #fff;
            }
        }
    }
}












@media all and (max-width: 1280px) {
	
}
// common button
@media (max-width:990px){
    #bonus section.wrapper a span {
        font-size: 24px;
    }
    #bonus section.wrapper a {
        padding: 26px 32px;
    }
}
//common buttons ends
@media all and (max-width: 980px) {
	#bonus section.top h2 {
		font-size: 32px;
	}
	#bonus section.top h2.number {
		font-size: 54px;
	}
	#bonus section.content div.coupon h2.number {
		font-size: 30px;
	}
	#bonus section.content div.coupon h2 {
		font-size: 28px;
	}
	#bonus section.content div.coupon h2.three {
		font-size: 16px;
	}
    #bonus section.wrapper p.attent {
        padding: 20px 0px;
        border-radius: 7px;
        font-size: 14px;
    }
}
// common button
@media (max-width:880px){

    #bonus section.wrapper a span {
        font-size: 22px;
    }
    #bonus section.wrapper a {
        margin: 40px 50px 60px;
    }
}    
// common button ends

@media (max-width:860px){
    #bonus section.wrapper section.content div.coupon {
        line-height: 30px; 
    }
    #bonus section.wrapper section.content div.coupon.three {
        line-height: 25px;
    }
    #bonus section.wrapper section.content div.coupon.three h5 {
        margin: 5px 0;
    }
    #bonus section.wrapper p.attent {
        font-size: 13px;
    }
};

@media (max-width:800px){
    #bonus section.wrapper section.content div.coupon h2 {
        font-size: 25px;
    }
};

@media all and (max-width: 768px) {
	#bonus section.content div.coupon.one,
	#bonus section.content div.coupon.two,
	#bonus section.content div.coupon.three,
	#bonus section.content div.coupon.four {
		width: 100%;
		background: url(../images/Bonus-med.png) no-repeat;
		background-position: 50% 50%;
   		background-size: 100% 100%;
	}
	#bonus section.content div.coupon.five {
		width: 100%;
		background-position: 50% 50%;
   		background-size: 100% 100%;
	}
	#bonus section.content div.coupon h2.three {
		font-size: 28px;
	}
    #bonus section.wrapper section.content div.coupon.five {
        width: 100%;
    }
    #bonus section.wrapper section.content div.coupon.three {
        padding: 10px 20px 20px 25px;
    }
    #bonus section.wrapper section.content div.coupon h2.third-coupon {
        font-size: 16px;
    }
    #bonus section.wrapper section.content div.coupon.three h5 {
        margin: 10px 0;
    }
    #bonus section.wrapper section.content div.coupon.three {
        line-height: 22px;
    }
    // common button displayed none
    #bonus section.wrapper a {
        display:none;
    }
    #bonus section.wrapper p.attent {
        padding: 15px 0px;
    }
}

@media (max-width:600px){
    #bonus section.wrapper section.content div.coupon h2 {
        font-size: 21px;
    }
    #bonus section.wrapper section.content div.coupon {
        line-height: 25px;
    }
    #bonus section.wrapper section.top h2.number {
        font-size: 55px;
    }
    #bonus section.wrapper section.content div.coupon h2 {
        font-size: 19px;
    }
    #bonus section.wrapper section.content div.coupon h2.number {
        font-size: 30px;
    }
    #bonus section.wrapper section.content div.coupon.three {
        line-height: 18px;
    }
    section.content div.coupon.three {
        padding: 15px 15px 10px 20px;
    }
};
@media(max-width: 500px){
    #bonus section.wrapper section.content div.coupon.one , 
    #bonus section.wrapper section.content div.coupon.two ,
    #bonus section.wrapper section.content div.coupon.three ,
    #bonus section.wrapper section.content div.coupon.four   {
        width: 100%;
        background: url(../images/Bonus-sed.png) no-repeat;
        background-position: 50% 50%;
   	    background-size: 100% 100%;
    }
    #bonus section.wrapper section.content div.coupon.three {
        line-height: 30px;
        padding: 10px 35px 20px 40px;
        height: 140px;
    }
    #bonus section.wrapper section.content div.coupon.five {
        height: 120px;
    }
    #bonus section.wrapper section.top h2 {
        font-size: 28px;
        font-weight: 700;
        color: #fff;
    }
    #bonus section.wrapper section.top h2.number {
        font-size: 50px;
    }
    #bonus {
        padding: 50px 0;
    }
    #bonus section.wrapper p.attent {
        font-size: 9px;
    }
};
@media (max-width:400px) {
    #bonus section.wrapper section.content div.coupon.three {
        line-height: 20px;
    }
    #bonus section.wrapper section.top h2 {
        font-size: 24px;
    }
    #bonus section.wrapper section.top h2.number {
        font-size: 40px;
    }
}