* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: Arial, Helvetica, sans-serif;
}

a{
	color: #333;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 944px;
}
:root {
	--violet : #604ed3;
    --violet-gradient : linear-gradient(to right, #604ed3, #a082fd);
	--border-gradient : linear-gradient(to right, #a082fd, #604ed3);
}

/* spotlight starts here  */
#spotlight {
	text-align: center;
	background: #000;
}
#spotlight section.wrapper {
	padding-top: 70px;
	position: relative;
	padding-bottom: 200px;
}
#spotlight h1 {
	font-size: 48px;
	font-weight: 700;
	color: #fff;
}
#spotlight h1 span {
	font-weight: 700;
	color: var(--violet);
}
#spotlight p {
	width: 80%;
	margin: 0 auto;
	margin-top: 14px;
	font-size: 20px;
	color: #fff;
}
#spotlight section.boxes {
	padding-top: 40px;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
#spotlight section.boxes div.left {
	width: 48%;
	background: #1a1a1a;
	padding: 10px;
	padding-bottom: 0;
	border-radius: 18px;
}
#spotlight section.boxes div.left ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
#spotlight section.boxes div.left ul li {
	width: 49%;
	padding: 10px 10px 10px 15px;
	background: #121212;
	display: flex;
	align-items: center;
	border-radius: 12px;
	margin-bottom: 10px;
}
#spotlight section.boxes div.left ul li img {
	display: block;
	height: 27px;
}
#spotlight section.boxes div.left ul li span {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin-left: 10px;
}
#spotlight section.boxes div.left div.bottom {
	display: flex;
	align-items: center;
}
#spotlight section.boxes div.left div.bottom div.image {
	width: 48%;
	display: block;
}
#spotlight section.boxes div.left div.bottom div.image img {
	display: block;
	width: 100%;
	visibility: hidden;
}
#spotlight section.boxes div.left div.bottom div.content {
	width: 49%;
	text-align: left;
}
#spotlight section.boxes div.left div.bottom div.content h2 {
	font-size: 28px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 12px;
}
#spotlight section.boxes div.left div.bottom div.content span {
	font-size: 14px;
	color: #fff;
}
#spotlight section.boxes div.right {
	width: 48%;
}
#video {
	width: 100%;
	height: 190px;
	background: #1a1a1a;
	border-radius: 20px;
	margin-bottom: 50px;
}
#video.top {
	display: none;
}
#spotlight section.boxes div.right a.button {
	padding: 15px 20px;
	background: var(--violet-gradient);
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	border: 5px solid #604ed3;
	border-radius: 18px;
}
#spotlight section.boxes div.right a.button del {
	font-size: 18px;
	font-weight: 500;
}
#image {
	display: block;
	width: 380px;
	position: absolute;
	bottom: 0;
	left: 0;
}
#image img {
	display: block;
	width: 100%;
}
/* spotlight ends here  */

section.for_understanding {
	width: 100%;
	height: 50px;
	background: #fff;
}

/* section#bonus ends here  */

#bonus {
	padding: 70px 0;
	background: #000;
}
/* #bonus .wrapper {} */
#bonus section.top {
	text-align: center;
	margin: 0 auto;
}
#bonus section.top h2 {
	font-size: 38px;
	font-weight: 700;
	color: #fff;
}
#bonus section.top h2.number {
	font-size: 60px;
	color: var(--violet);
}
#bonus section.content {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
#bonus section.content div.coupon.one {
	width: 100%;
	background: url(../images/Bonus\ Badge\ L.png) no-repeat;
	background-position: 50% 50%;
    background-size: 100% 100%;
	height: 160px;
    padding: 10px 35px 20px 40px;
}
#bonus section.content div.coupon.two, .four {
	width: 69%;
	background: url(../images/Bonus\ Badge\ M.png) no-repeat;
	background-position: 50% 50%;
    background-size: 100% 100%;
	height: 160px;
    padding: 10px 35px 20px 40px;
}
#bonus section.content div.coupon.three {
	width: 29%;
	background: url(../images/Bonus\ Badge\ S.png) no-repeat;
	background-position: 50% 50%;
    background-size: 100% 100%;
	height: 160px;
    padding: 10px 35px 20px 40px;
}
#bonus section.content div.coupon.five {
	width: 29%;
	background: url(../images/Bonus\ Badge\ Blur.png) no-repeat;
	background-position: 50% 50%;
    background-size: 100% 100%;
	height: 160px;
    padding: 10px 35px 20px 40px;
}
#bonus section.content div.coupon {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
#bonus section.content div.coupon h5 {
	font-size: 14px;
	color: #333;
    font-weight: 700;
}
#bonus section.content div.coupon h2.number {
	font-size: 34px;
	font-weight: 700;
	color: var(--violet);
}
#bonus section.content div.coupon h2 {
	margin-bottom: 9px;
    font-size: 30px;
    font-weight: 600;
}
#bonus section.content div.coupon h2.three {
    font-size: 18px;
    font-weight: 600;
}
#bonus section.content div.coupon.five {
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
#bonus section.content div.coupon.five span {
	margin-left: 15px;
    font-size: 16px;
    font-weight: 700;
}
#bonus section.content div.coupon div.lock {
	width: 24px;
	display: block;
}
#bonus section.content div.coupon div.lock img {
	width: 100%;
	display: block;
}

@media all and (max-width: 1280px) {
	#spotlight section.boxes div.right a.button {
		font-size: 21px;
	}
}
@media all and (max-width: 980px) {
	#spotlight h1 {
		font-size: 42px;
	}
	#spotlight p {
		width: 100%;
		font-size: 18px;
	}
	#spotlight section.boxes {
		width: 100%;
	}
	#spotlight section.boxes div.left {
		width: 49%;
	}
	#spotlight section.boxes div.left div.bottom div.image img {
		visibility: visible;
	}
	#spotlight section.boxes div.left ul li span {
		font-size: 14px;
	}
	#spotlight section.boxes div.left div.bottom div.content h2 {
		font-size: 26px; 
	}
	#video {
		margin-bottom: 38px;
	}
	#image {
		display: none;
	}
	#bonus section.top h2 {
		font-size: 32px;
	}
	#bonus section.top h2.number {
		font-size: 54px;
	}
	#bonus section.content div.coupon h2.number {
		font-size: 30px;
	}
	#bonus section.content div.coupon h2 {
		font-size: 28px;
	}
	#bonus section.content div.coupon h2.three {
		font-size: 16px;
	}
}
@media all and (max-width: 768px) {
	#spotlight section.boxes {
		flex-wrap: wrap;
	}
	#spotlight section.boxes div.left {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	#spotlight section.boxes div.right {
		width: 70%;
		margin: 0 auto;
	}
	#video {
		display: none;
	}
	#video.top {
		display: block;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 24px;
		height: 220px;
	}
	#spotlight section.boxes div.right a.button  {
		font-size: 26px;
	}
	#bonus section.content div.coupon.one,
	#bonus section.content div.coupon.two,
	#bonus section.content div.coupon.three,
	#bonus section.content div.coupon.four {
		width: 100%;
		background: url(../images/Bonus\ Badge\ M.png) no-repeat;
		background-position: 50% 50%;
   		background-size: 100% 100%;
	}
	#bonus section.content div.coupon.five {
		width: 100%;
		background-position: 50% 50%;
   		background-size: 100% 100%;
	}
	#bonus section.content div.coupon h2.three {
		font-size: 28px;
	}
}
@media all and (max-width: 640px) {
	#spotlight section.boxes div.left,
	#spotlight section.boxes div.right,
	#video.top {
		width: 90%;
	}
	#bonus section.content div.coupon h2, 
	#bonus section.content div.coupon h2.three {
		font-size: 24px;
	}
	#bonus section.content div.coupon h2.number {
		font-size: 28px;
	}
@media all and (max-width: 480px) {
	#spotlight h1 {
		font-size: 38px;
	}
	#spotlight p {
		font-size: 16px;
	}
	#spotlight section.boxes div.left,
	#spotlight section.boxes div.right,
	#video.top {
		width: 100%;
	}
	#spotlight section.boxes div.left ul li img {
		height: 22px;
	}
	#spotlight section.boxes div.left div.bottom div.content h2 {
		font-size: 24px;
	}
	#spotlight section.boxes div.right a.button {
		font-size: 20px;
	}
	#spotlight section.boxes div.right a.button del {
		font-size: 14px;
	}
	#bonus section.content div.coupon.one,
	#bonus section.content div.coupon.two,
	#bonus section.content div.coupon.three,
	#bonus section.content div.coupon.four {
		width: 100%;
		background: url(../images/Bonus\ Badge\ S.png) no-repeat;
		background-position: 50% 50%;
   		background-size: 100% 100%;
	}
	#bonus section.content div.coupon h2,
	#bonus section.content div.coupon h2.three {
		font-size: 18px;
	}
}
@media all and (max-width: 360px) {
	#spotlight h1 {
		font-size: 38px;
	}
	#spotlight p {
		font-size: 16px;
	}
	#spotlight section.boxes div.left ul li img {
		height: 20px;
	}
	#spotlight section.boxes div.left ul li span {
		font-size: 12px;
	}
	#spotlight section.boxes div.right a.button {
		font-size: 18px;
	}
}